*:focus {
    outline: none;
}
html {
    font-size: 62.5%;
    ::selection {
        color: $selection_color;
    }
    scroll-behavior: smooth;
}
@include main; 

a {
    @include linkStyle;
}
body {
    font-family: $main_font;
}

.container {
    padding: 6rem 12rem;
    max-width: 190rem;
    margin: 0 auto;
    @media only screen and (max-width: 500px) {
        padding: 2rem 6rem;
      }
}